<%- include("student_header.ejs"); -%>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <section id="pageName">
            <div class="container md-4">
                <h1> College Search Results</h1>
            </div>
        </section>
    </div>
    <section id="info mt-4 mb-4">
        <table class="table table-bordered" id="myTable2">
            <thead class="thead-light">
                <tr>
                    <th scope="col" onclick="sortTable(0)">Name</th>
                    <th scope="col" onclick="sortTable(1)">Cost</th>
                    <th scope="col" onclick="sortTable(2)">Admission Rate</th>
                    <th scope="col" onclick="sortTable(3)">Location</th>
                    <th scope="col" onclick="sortTable(4)">Size</th>
                    <th scope="col" onclick="sortTable(5)">Ranking</th>
                    <th scope="col" onclick="sortTable(6)">Rec. Score</th>
                    <th scope="col"> View </th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach(function(results) { %>
                <tr>
                    <td><%= results.name %></td>
                    <td><%= results.cost_gen %></td>
                    <td><%= results.admis_percent %></td>
                    <td><%= results.location %></td>
                    <td><%= results.size %></td>
                    <td><%= results.ranking %></td>
                    <td><%= results.recommendationScore %></td>
                    <td><a href="/view?url=<%= results.name%>">View Similar Students</a></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </section>
    </body>

    <script>
        var results = <%- JSON.stringify(results) %>
        console.log(results)
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("myTable2");
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /* Loop through all table rows (except the
                first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                    // Start by saying there should be no switching:
                    shouldSwitch = false;
                    /* Get the two elements you want to compare,
                    one from current row and one from the next: */
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /* Check if the two rows should switch place,
                    based on the direction, asc or desc: */
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch
                    and mark that a switch has been done: */
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    // Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /* If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again. */
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
    <!-- <script type="text/javascript" src="jquery-1.8.2.js"></script> -->
    <script type="text/javascript">
        $(function () {
            var dataArr = [];
            $("td").each(function () {
                dataArr.push($(this).html());
            });
            $('#sendServer').click(function () {
                $.ajax({
                    type: "POST",
                    url: '/student/compute',
                    data: "content=" + dataArr,
                    success: function (data) {
                        alert(data);// alert the data from the server
                    },
                    error: function () {
                    }
                });
            });
        });
    </script>

    <!-- jquery Library-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


    </html>